.movie-details-container {
  padding: 40px;
}

.title-container {
  color: #fff;
  margin-bottom: 25px;
}

.list-container {
  margin-top: 20px;
  padding: 15px;
}



@media (min-width: 576px) {
  .form-container button {
    min-width: 400px;
  }
}
